/* /src/pages/styles/principal.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: #2c3e50;
  padding: 0;
  height: 100%;
  border-radius: 10px;
}

.principal-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.principal-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.5s ease;
}

.sidebar-open .principal-content {
  margin-left: 300px;
}

/* Estilo de Tarjeta Principal */
.styled-card {
  background: linear-gradient(90deg, rgba(0,128,73,1) 0%, rgba(0,68,116,1) 100%);
  box-shadow: 0 1.0px 4px #2c3e50;
  color: white;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.9;  
}

/* Contenido de cada tarjeta */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.clientes:hover, .departamentos:hover, .especialidades:hover,.inventario:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Icono de las tarjetas */
.card-icon {
  margin-bottom: 10px;
  color: #26396a; /* Color azul oscuro para los íconos */
}

/* Valor destacado (texto grande) */
.card-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: #26396a; /* Color azul oscuro */
  margin-bottom: 5px;
}

/* Descripción debajo del valor */
.card-description {
  font-size: 1rem;
  color: #555; /* Color gris oscuro para la descripción */
}

/* Colores específicos para cada tarjeta (sin gradientes) */
.clientes,
.departamentos,
.especialidades,
.inventario,
.informes {
  background: #fff; /* Fondo blanco */
}

/* Asegura que las tarjetas sean del mismo tamaño y se ajusten a la pantalla */
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-deck .styled-card {
  flex: 1 0 calc(20% - 20px); /* Ajusta el tamaño de las tarjetas para que haya espacio entre ellas */
  margin: 10px;
}
/* Estilo de los separadores */
.latest-projects {
  margin: 20px 0;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  display: center;
  align-items: center;
  color: #57585a;
}

/* Estilo de los iconos */
.section-title .fa-briefcase {
  margin-right: 10px;
  color: #888127;
}

/* Estilos del footer */
.footer {
  background: linear-gradient(to bottom right, #fff, #fff);
  color: #2c3e50;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 1 10px rgba(0, 0, 0, 0.5);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Dashboard*/
.dashboard-overview {
  text-align: center;
  margin: 20px 0;
}

.overview-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.overview-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  flex: 1;
  max-width: 250px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.overview-icon {
  color: #888127;
  margin-bottom: 10px;
}

/*Sección de documentos*/
.project-list {
  margin-top: 20px;
  width: 100%;
}

.project-header,
.project-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.project-column {
  flex: 1;
  text-align: left;
  padding: 0 10px;
}

.project-icon {
  width: 20px;
  margin-right: 10px;
}

.member-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.progress-bar {
  background-color: #4caf50;
  height: 8px;
  border-radius: 4px;
}
